<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
  	<description>JAX-WS endpoint - RegisterService</description>
  	<display-name>RegisterService</display-name>
  	<servlet-name>RegisterService</servlet-name>
  	<servlet-class>
  		com.sun.xml.ws.transport.http.servlet.WSServlet
  	</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.logic.Login</servlet-class>
  </servlet>

<!--  <servlet-mapping>-->
<!--  	<servlet-name>RegisterService</servlet-name>-->
<!--  	<url-pattern>/FileUploadPort</url-pattern>-->
<!--  </servlet-mapping>-->
  <servlet-mapping>
  	<servlet-name>RegisterService</servlet-name>
  	<url-pattern>/FileViewPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterService</servlet-name>
  	<url-pattern>/filedecryptionPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterService</servlet-name>
  	<url-pattern>/SearchqueryPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterService</servlet-name>
  	<url-pattern>/FileUploadPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterService</servlet-name>
  	<url-pattern>/RegisterPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
 
   <listener>
  		<listener-class>db.dbconnection</listener-class>
  	</listener>
  	 <listener>
  	<listener-class>
  		com.sun.xml.ws.transport.http.servlet.WSServletContextListener
  	</listener-class>
  </listener></web-app>
